# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.o
_*.c

# Test GWY files
testdatafiles/

# Temporary ipython notebooks
Untitled.ipynb

# Ipython notebooks checkpoints
.ipynb_checkpoints/

# Temporary emacs files
*~
\#*
.\#*

# Coverage file
.coverage
cover/

# Emacs dir-local-variables
.dir-locals.el
